[loggers]
keys=root, stream


[handlers]
keys=fileHandler, screenHandler


[formatters]
keys=logFormatter


[logger_stream]
level=INFO
handlers=fileHandler
qualname=file_logger


[logger_root]
level=DEBUG
handlers=screenHandler
qualname=screen_logger


[handler_fileHandler]
class=FileHandler
level=INFO
formatter=logFormatter
args=(f"./output_data/logs/{time.asctime()}.log",)


[handler_screenHandler]
class=StreamHandler
formatter=logFormatter
level=DEBUG
args=(sys.stdout,)


[formatter_logFormatter]
format=%(asctime)s | %(levelname)-8s | %(message)s
